﻿@model BugRay.Models.DashboardViewModel


@foreach (var issue in Model.Issues)
{
    <div class="card" id="cardId_@issue.Id">
        <div class="card-header">
            <div class="row">
                <div class="col-11">
                    <p data-toggle="collapse" data-target="#issueBox_@issue.Id">@issue.Name</p>
                </div>
                <div class="col-1">
                    <i class="fa fa-minus-square fa-3x" style="color:red" id="deleteBtn_@issue.Id" onclick="deleteIssue(this)">
                    </i>
                </div>
            </div>
        </div>
        <div id="issueBox_@issue.Id" class="card-body collapse">
            <ul>
                <li>@issue.Description</li>
                <li>@issue.BugStatus</li>
                <li>@issue.Comments</li>
            </ul>
        </div>
    </div>
}