﻿@model BugRay.Models.BugViewModel
<div class="container">
    <h1>Add a Issue</h1>
    <div class="jumbotron">
        <form method="post" id="bugForm" enctype="multipart/form-data">
            <div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="Comments"></label>
                    <textarea asp-for="Comments" class="form-control"></textarea>
                </div>
            </div>
            <input type="button" class="btn btn-primary" value="Save" onclick="saveForm()">
        </form>
    </div>
    <div id="issueDiv">

    </div>
</div>
<script src="~/js/dashboard.js"></script>
